*, body {

}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

.partition {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}

.partition-container {
  position: relative;
}

.message {
  background: $black;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

#splash {
  background: $black;
}

img {
  padding: 0;
  margin: 0;
}
