---
title: Happy Birthday Karin!
---

<div id="splash" class="partition-container">
  <div class="partition">
    <%= image_tag 'partition.png'  %>
  </div>
</div>
<div class="message">
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, fugiat dolorem animi laudantium quam provident ea. Suscipit, sunt temporibus reiciendis.
  </h2>
</div>