---
title: Happy Birthday Karin!
---

<div id="splash" class="partition-container">
  <div class="partition">
    <%= image_tag 'partition.png'  %>
  </div>
</div>
<div id="message" class="message">
  <div class="message-image small-12 medium-7 large-8 columns small-centered">
    <%= image_tag 'karin.png'  %>    
  </div>
</div>